# Versão do compose
version: '3'

# Volumes
volumes:
  mysql-data:

# Redes
networks:
  frontend:
  backend:

# Serviços
services:
  # MariaDB
  maria:
    image: mariadb
    environment: 
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    volumes:
      # Volumes dos dados
      - mysql-data:/var/lib/mysql
      # Scripts
      - ./maria:/maria-scripts
      - ./maria/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 3306:3306
    networks:
      - backend
  
  # PHP
  php:
    build: './php/'
    volumes:
      - ./web:/web
    networks:
      - backend
  
  # Front-end
  front:
    image: nginx
    volumes:
      # Configuração do proxy reverso
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

      # Website
      - ./web:/web
    ports:
      - 80:80
    networks:
      - frontend
      - backend
    depends_on:
      - php